In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [2]:
df = pd.DataFrame(
                    {'text': ['cat jaguar tortoise cat', 'ferrari maserati jaguar'],
                     'label': ['animal', 'car']
                    }
                )

In [3]:
df

                      text   label
0  cat jaguar tortoise cat  animal
1  ferrari maserati jaguar     car

In [4]:
 vectorizer = CountVectorizer()

In [5]:
X = vectorizer.fit_transform(df['text'])

In [6]:
vectorizer.get_feature_names_out()

array(['cat', 'ferrari', 'jaguar', 'maserati', 'tortoise'], dtype=object)

In [7]:
X.toarray()

array([[2, 0, 1, 0, 1],
       [0, 1, 1, 1, 0]], dtype=int64)

In [8]:
transformer = TfidfTransformer()

In [9]:
tfidf = transformer.fit_transform(X)

In [10]:
tfidf.toarray()

array([[0.8523192 , 0.        , 0.30321606, 0.        , 0.4261596 ],
       [0.        , 0.6316672 , 0.44943642, 0.6316672 , 0.        ]])

In [11]:
df

                      text   label
0  cat jaguar tortoise cat  animal
1  ferrari maserati jaguar     car

In [12]:
tf_cat = 2/4

In [13]:
idf_cat = np.log(2/1) + 1

In [14]:
print(tf_cat * idf_cat)

0.8465735902799727

In [15]:
tf_jaguar = 1/4

In [16]:
idf_jaguar = np.log(2/2) + 1

In [18]:
print(tf_jaguar * idf_jaguar)

0.25